* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #E5E5E5;
  max-width: 720px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: auto;
  background-color: #fff;
}

header nav {
  padding: 12px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav a img {
  width: 120px;
  height: auto;
}

header nav i {
  color: #6070FF;
}

.intro {
  background: #fff;
  border-bottom-left-radius: 100px;
  padding: 100px 0 100px 5%;
  position: relative;
}

.intro h1 {
  margin-top: 3%;
  margin-left: 10%;
  padding-bottom: 0;
  width: 400px;
  height: 100px;
  color: #172B4D;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
}

.intro p {
  width: 300px;
  margin: 15px 0;
  margin-left: 10%;
  line-height: 16px;
  text-align: left;
  color: #172B4D;
}

.social-media-top {
  margin-top: 25px;
  margin-left: 10%;
  padding-bottom: 80px;
}

.social-media-top h4 {
  font-family: "Poppins", sans-serif;
  color: #6070FF;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.social-media-top ul {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  list-style: none;
  padding-left: 0;
}

.social-media-top li {
  align-self: left;
  margin: 10px 10px 10px 0;
}

.social-media-top li a i {
  color: #505F79;
  font-size: 20px;
}

.projects {
  background-color: #E5E5E5;
  padding-top: 90px;
}

.card {
  display: flex;
  background: #fff;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  border: 1px solid #DFE1E6;
  box-sizing: border-box;
  border-radius: 16px;
  width: 87%;
  margin: 40px auto;
}

.card .card-img-1,
.card .card-img-2,
.card .card-img-3,
.card .card-img-4 {
  border: 1px solid #b5b9be;
  width: 99%;
  height: 220px;
  margin: 8px auto;
  border-radius: 8px;
}

.card .card-img-1 {
  background: url("../assets/images/card-1.png");
  background-size: cover;
}

.card .card-img-2 {
  background: url("../assets/images/card-2.png");
  background-size: cover;
}

.card .card-img-3 {
  background: url("../assets/images/card-3.png");
  background-size: cover;
  background-position: center;
}

.card .card-img-4 {
  background: url("../assets/images/card-4.png");
  background-size: cover;
}

.card h3 {
  font-size: 32px;
  font-weight: bold;
  color: #172B4D;
}

.card p {
  font-size: 15px;
  color: #344563;
  line-height: 24px;
}

.card ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 12px 0;
}

.card ul li {
  margin-right: 10px;
  padding: 4px 7px;
  font-size: 12px;
  font-weight: 500;
  color: #6070FF;
  background-color: #EBEBFF;
  border-radius: 8px;
}

.card .card-buttons {
  display: flex;
  margin-top: 10px;
}

.card .card-buttons a {
  margin-right: 15px;
  text-decoration: none;
  color: #6070FF;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  border: 1px solid #6070FF;
  border-radius: 16px;
  padding: 10px;
}

.about {
  background: #fff;
  border-top-right-radius: 100px;
  padding: 50px 0px 100px 5%;
}

.about h1 {
  width: 300px;
  margin-top: 80px;
  color: #172B4D;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
}

.about p {
  width: 280px;
  margin: 15px 0;
  line-height: 16px;
  text-align: left;
  color: #172B4D;
}

.social-media-bottom {
  margin-top: 25px;
  padding-bottom: 20px;
}

.social-media-bottom h4 {
  font-family: "Poppins", sans-serif;
  color: #6070FF;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.social-media-bottom ul {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  list-style: none;
  padding-left: 0;
}

.social-media-bottom li {
  align-self: left;
  margin: 10px 10px 10px 0;
}

.social-media-bottom li a i {
  color: #505F79;
  font-size: 20px;
}

.social-media-bottom .resume-link {
  text-decoration: none;
  color: #6070FF;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  border: 1px solid #6070FF;
  border-radius: 8px;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  border: 1px solid #6070FF;
  border-radius: 8px;
  padding: 5px 15px;
  background-color: #6070FF;
}

.dropdown .dropbtn i {
  margin-left: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: #6070FF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: none;
}

.contact {
  background: #fff;
}

.contact h1 {
  border-top-left-radius: 100px;
  padding-top: 100px;
  background-color: #6070FF;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 52px;
}

.contact p {
  background-color: #6070FF;
  padding: 24px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #EBEBFF;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #6070FF;
  padding-bottom: 80px;
}

.contact form #name,
.contact form #email,
.contact form #subject {
  width: 80%;
  margin-bottom: 14px;
  padding-left: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: #172B4D;
}

.contact form #name,
.contact form #email {
  height: 47px;
  background: #fff;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
}

.contact form #name ::placeholder,
.contact form #email ::placeholder {
  color: #505F79;
}

.contact form #subject {
  height: 170px;
  padding: 14px;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
}

.contact form #subject ::placeholder {
  color: #505F79;
}

.contact form #submit-btn {
  align-self: flex-start;
  margin-left: 10%;
  text-decoration: none;
  color: #6070FF;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  border: 1px solid #6070FF;
  border-radius: 8px;
  padding: 10px 14px;
  background: #fff;
}

.light-one {
  position: absolute;
  width: 108.67px;
  height: 19.44px;
  left: 5%;
  top: 7%;
  background: #EBEBFF;
  transform: rotate(-46.14deg)
  }
  
  .dark-one {
    position: absolute;
    left: 10%;
    top: 7%;
    transform: rotate(-17deg);
  }
  
  .light-two {
  position: absolute;
  left: 50%;
  top: 12.4%;
  }
  
  .dark-two {
    position: absolute;
  width: 56.01px;
  height: 10.02px;
  left: 50%;
  top: 17%;
  background: #6070FF;
  transform: matrix(0.98, -0.21, -0.21, -0.98, 0, 0);
  }

  
  .light-three,
  .dark-three {
    display: none;
  }
  
  
  .light-four {
  position: absolute;
  left: 14%;
  bottom: 5%;
  }
  
  .dark-four {
  position: absolute;
  left: 14.5%;
  bottom: 10.5%;
  }
  
  .light-five {
  position: absolute;
  right: 30%;
  bottom: 10%;
  }
  
  .dark-five {
    position: absolute;
    right: 30%;
    bottom: 16.5%;
  }

@media only screen and (max-width: 480px) {

  .intro h1 {
    width: 270px;
    font-size: 26px;
    line-height: 40px;
  }
  .intro p {
    width: 250px;
    margin: 15px 0;
    margin-left: 10%;
    line-height: 16px;
    text-align: left;
    color: #172B4D;
  }

  
  .light-two {
  position: absolute;
  left: 70%;
  top: 27.4%;
  }

  .dark-two {
  position: absolute;
  width: 56.01px;
  height: 10.02px;
  left: 70%;
  top: 30%;
  background: #6070FF;
  transform: matrix(0.98, -0.21, -0.21, -0.98, 0, 0);
  }

  
}

@media only screen and (min-width: 720px) {
  body {
    min-width: 720px;
    max-width: 1248px;
  }

  .intro {
    max-width: 1268px;
  }

  .intro p {
    width: 500px;
    margin: 15px 0;
    margin-left: 10%;
    line-height: 16px;
    text-align: left;
    color: #172B4D;
  }

  .light-two {
    position: absolute;
    left: 50%;
    top: 16.4%;
    }
    
    .dark-two {
      position: absolute;
    width: 56.01px;
    height: 10.02px;
    left: 50%;
    top: 20%;
    background: #6070FF;
    transform: matrix(0.98, -0.21, -0.21, -0.98, 0, 0);
    }

  .light-three {
    display: block;
    position: absolute;
    right: 16%;
    top: 15%;
    transform: rotate(-30deg);
  }
  
  .dark-three {
    display: initial;
  position: absolute;
  right: 6.6%;
  top: 20%;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 93%;
    height: 432px;
  }

  .card-reverse {
    flex-direction: row-reverse;
  }

  .card .card-img-1,
  .card .card-img-2,
  .card .card-img-3,
  .card .card-img-4 {
    width: 46%;
    height: 400px;
  }

  .card .card-info {
    width: 46%;
    height: auto;
    align-self: flex-start;
  }

  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .about h1 {
    margin-top: 0px;
  }

  .social-media {
    margin: 0;
  }
}